* {
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
    background: #fffdf5;
    font-size: 16pt;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cube {
    width: 35rem;
    height: 35rem;
    border: black solid 3px;
    border-radius: 3px;
    box-shadow: black -10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
}