* {
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
    background: #fffdf5;
    font-size: 16pt;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cube {
    width: 35rem;
    height: 35rem;
    border: black solid 3px;
    border-radius: 3px;
    box-shadow: black -10px 10px;
}